* {
  padding: 0;
  margin: 0;
}
@font-face {
  src: url(../fonts/BerkeleyMono-Regular.woff);
  font-family: txfont;
}
body {
  font-family: txfont;
  background-image: url(../images/12.gif);
  color: #282828;
  /* background: #fbf1c7; */
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  padding: 20px;
  display: flex;
  justify-content: center;
  color: #cc241d;
}
.header {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-btn {
  display: flex;
  width: 240px;
  justify-content: center;
}
.navigation-btn li {
  list-style: none;
  padding: 0px 16px 8px 16px;
}
.main-index {
  border: 2px white;
  background: #000;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}
.main-index li {
  list-style: none;
}
.main-article {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, black, white);
}
hr {
  color: #463939;
}
p {
  font-size: 16px;
}
.heading-gallery {
  padding: 20px;
  margin: 20px;
  background: linear-gradient(to left top, blue, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  padding: 20px;
  margin: 20px;
  width: 300px;
  flex-direction: column;
}
main li {
  color: white;
}
figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-between;
}
.socials li {
  list-style: none;
}
