* {
  padding: 0;
  margin: 0;
}
@font-face {
  src: url(../fonts/BerkeleyMono-Regular.woff);
  font-family: txfont;
}
body {
  font-family: txfont;
  background-image: url(../images/12.gif);
  color: white;
  height: 100vh;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  padding: 20px;
  display: flex;
  color: #cc241d;
  justify-content: center;
}
.header {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-btn {
  display: flex;
  width: 240px;
  justify-content: center;
}
.navigation-btn li {
  list-style: none;
  padding: 0px 16px 8px 16px;
}

.main-index {
  border: 2px white;
  background: #000;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
}
.main-index li {
  list-style: none;
}
.main-article {
  padding: 20px;
  margin: 20px;
  font-size: 10px;
}
hr {
  color: #463939;
}
p {
  font-size: 16px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
}
pre {
  background: linear-gradient(to left top, blue, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main {
  display: flex;
  padding: 20px;
  margin: 20px;
}
pre {
  font-size: 10px;
}
