* {
  padding: 0;
  margin: 0;
}
@font-face {
  src: url(../fonts/BerkeleyMono-Regular.woff);
  font-family: txfont;
}
body {
  font-family: txfont;
  background-image: url(../images/208.gif);
  color: white;
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
}
body.home,
body.info,
body.blogs,
body.about {
  background-color: black;
  background: transparent;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  color: #cc241d;
}
header {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading-gallery {
  padding: 20px;
  margin: 20px;
  background: linear-gradient(to left top, blue, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-index {
  background: #000;
  display: flex;
  align-items: center;
}
.main-article {
  display: flex;
  width: 900px;
  margin-right: 187px;
  font-size: 10px;
}
.main-gallery {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(119, 156, 189, 0.83);
}

hr {
  color: #463939;
}
p {
  font-size: 16px;
}
pre {
  background: linear-gradient(to left top, blue, red);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.6);
}
pre {
  font-size: 10px;
}
footer {
  display: flex;
  justify-content: center;
}
figcaption {
  color: #fff;
  font: italic smaller sans-serif;
  text-align: center;
}
.socials {
  list-style: none;
}
