:root {
  --bg-section: #000;
  --border-section: #fff;
}
* {
  margin: 0;
  padding: 0;
}
#threeD {
  position: fixed;
  left: 0;
  top: 0;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  font-size: 12px;
  z-index: 2;

  #terminal {
    background: #000;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 2px;
    margin: 1px;
    z-index: 1;
  }
  main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    header {
      padding: 8px;
      margin: auto;
      margin-bottom: 10px;
      z-index: 1;
      width: 80%;
      text-align: center;
      background: var(--bg-section);
      border: 1px solid var(--border-section);
      ul > li {
        list-style-type: none;
      }
      ul {
        display: flex;
        gap: 10px;
        justify-content: center;
      }
      li:nth-of-type(2)::before,
      li:nth-of-type(2)::after {
        content: "|";
        padding: 10px;
      }
    }
    h1 {
      padding: 10xp;
      margin-top: 20px;
      text-align: center;
      font-size: 1.25rem;
      line-height: calc(1.75 / 1.25);
      color: white;
    }

    .container {
      width: 80%;
      margin: auto;
      display: grid;
      position: relative;
      z-index: 2;
      grid-template-columns: repeat(12, minmax(0, 1fr));

      li {
        margin: 10px 20px;
      }
      h2 {
        text-align: center;
        margin: 20px 20px;
      }
      p {
        margin: 10px 20px;
      }
      .content {
        grid-column: span 6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg-section);
        border: 1px solid var(--border-section);

        #socials {
          display: flex;
          li {
            list-style-type: none;
          }
          a {
            color: white;
            text-decoration: none;
            &:hover {
              color: var(--border-section);
            }
          }
        }
      }

      #main-content-img {
        width: 60%;
        height: 80%;
      }
    }
    .sidebar-left {
      grid-column: span 3;
      background: var(--bg-section);
      border: 1px solid var(--border-section);
    }
    .sidebar-right {
      grid-column: span 3;
      background: var(--bg-section);
      border: 1px solid var(--border-section);
    }

    @media screen and (max-width: 678px) {
      .container {
        grid-template-columns: repeat(1, 1fr);
      }
      .content,
      .sidebar-right,
      .sidebar-left {
        grid-column: 1;
      }
      .sidebar-left {
        grid-row-start: 2;
      }
    }
    footer {
      margin: auto;
      margin-top: 10px;
      padding: 8px;
      width: 80%;
      text-align: center;
      z-index: 2;
      background: var(--bg-section);
      border: 1px solid var(--border-section);
    }
  }

  #sayori {
    height: 50%;
    position: absolute;
    right: 6.5%;
    transform: rotate(35deg);
    top: 20px;
    z-index: 1;
  }
  #postal {
    height: 30%;
    position: absolute;
    top: 20px;
    left: 3.3%;
    transform: rotate(-35deg);
    z-index: 1;
  }
  @media screen and (max-width: 678px) {
    #sayori {
      right: 10px;
    }
    #postal {
      left: -20px;
    }
  }
}
